<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ global.meta.description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ global.meta.title }}</title>

		<link rel="stylesheet" href="/assets/css/app.css">
		<style type="text/css"></style>
	</head>
	<body class="{{ body_class }}">

	<div class="js-off-canvas-container c-off-canvas-container">

		{{> header }}

		{{!--{{{ body }}}--}}
		<p>Hey {{greeting}}</p>
		<p>Enduro is {{superlative}}</p>

		{{> end}}

	</div>

	{{!-- <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
	{{!--<script src="{{ asset 'js/app.min.js' }}"></script>--}}
	{{!--<script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>--}}
	</body>
</html>
